
html, body {
  height: 100%;
  font-size: 14px;
  font-family: 'Gotham Pro';
}
.wrap {
  overflow: auto;
  height: 100%;
  min-width: 1123px;
}
.content {
  margin: 0 auto;
  width: 1105px;
}
.wrap-content {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -520px auto;
}
.push {
  height: 520px;
}
h1 {
  font-size: 99px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
h2 {
  font-size: 45px;
  text-transform: uppercase;
  margin-bottom: 30px;
}
h3 {
  font-size: 21px;
  margin-bottom: 35px;
  text-transform: uppercase;
  font-weight: 100;
}
h4 {
  text-transform: uppercase;
  margin-bottom: 15px;
  font-size: 13px;
}
table {
  border: 1px solid #E5E5E5;
  text-align: left;
  width: 100%;
}
tr {
  border-bottom: 1px solid #E5E5E5;
}
th,td {
  padding: 15px 10px 15px 20px;
}
td {
  font-weight: 100;
}
strong {
  font-weight: bold;
}
.clear {
  clear: both;
  overflow: hidden;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.left-block {
  width: 50%;
  float: left;
}
.right-block {
  width: 50%;
  float: right;
}
.up-text {
  text-transform: uppercase;
}
.bold {
  font-weight: 600;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
textarea {
  font-size: 14px;
}
input, textarea {
  background: none;
  border: 2px solid #C1C4CB;
  border-radius: 3px;
  padding: 16px 15px 15px;
  color: #A9A9BB;
}
.btn {
  border: none;
  display: inline-block;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  padding: 15px 10px;
  text-decoration: none;
  text-align: center;
  border-radius: 3px;
  color: #ffffff;
}
.btn-info {
  background-color: #00bed5;
  /* IE9, iOS 3.2+ */
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj48c3RvcCBzdG9wLWNvbG9yPSIjMDBjZmUwIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiMwMGFjY2EiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI3ZzZ2cpIiAvPjwvc3ZnPg==);
  background-image: -moz-linear-gradient( 90deg, #00ACCA 0%, #00CFE0 100%);
  background-image: -webkit-linear-gradient( 90deg, #00ACCA 0%, #00CFE0 100%);
  background-image: -ms-linear-gradient( 90deg, #00ACCA 0%, #00CFE0 100%);
  box-shadow: -1px -1px 0px 0px rgb( 20, 22, 25 );
}

.btn-success {
  background-color: #7cbb0a;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj48c3RvcCBzdG9wLWNvbG9yPSIjOWJjZDBkIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiM1Y2E5MDciIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI3ZzZ2cpIiAvPjwvc3ZnPg==);
  background-image: -moz-linear-gradient( 90deg, #5CA907 0%, #9BCD0D 100%);
  background-image: -webkit-linear-gradient( 90deg, #5CA907 0%, #9BCD0D 100%);
  background-image: -ms-linear-gradient( 90deg, #5CA907 0%, #9BCD0D 100%);
  box-shadow: -1px -1px 0px 0px rgb( 20, 22, 25 );
}

.btn-success.big {
  background-color: #7cbb0a;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj48c3RvcCBzdG9wLWNvbG9yPSIjOWJjZDBkIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiM1Y2E5MDciIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI3ZzZ2cpIiAvPjwvc3ZnPg==);
  background-image: -moz-linear-gradient( 90deg, rgb(106,150,0) 0%, rgb(188,225,86) 99%);
  background-image: -webkit-linear-gradient( 90deg, rgb(106,150,0) 0%, rgb(188,225,86) 99%);
  background-image: -ms-linear-gradient( 90deg, rgb(106,150,0) 0%, rgb(188,225,86) 99%);
  text-shadow: 0px 1px 1px rgba(255,255,255,0.6);
  color: #000000;
  padding: 18px 30px;
}
/* substribe */

@media \0screen\,screen\9 {
  .btn-success,.btn-success.big {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff9bcd0d",endColorstr="#ff5ca907",GradientType=0);
  }
  .btn-info {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff00cfe0",endColorstr="#ff00acca",GradientType=0);
  }
  .main-menu a {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffebedf1",endColorstr="#ffbdbfc7",GradientType=0);
  }
  .gray-substribe {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffffff",endColorstr="#ffcbcdd9",GradientType=0);
  }
  .blue-substribe {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff4ab1e9",endColorstr="#ff296cd5",GradientType=0);
  }
  .turq-substribe {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff00c8dd",endColorstr="#ff0098be",GradientType=0);
  }
  .dark-green-substribe {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff00d1ba",endColorstr="#ff00a97f",GradientType=0);
  }
  .green-substribe {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff50db9f",endColorstr="#ff2cbb58",GradientType=0);
  }
  .yellow-substribe {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffb2d904",endColorstr="#ff6cb702",GradientType=0);
  }
  .dark-substribe {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff24415c",endColorstr="#ff0b1721",GradientType=0);
  }
}
.blue-text {
  color: #49AEE8;
}
.turq-text {
  color: #00C8DC;
}
.dark-green-text {
  color: #00D0B9;
}
.green-text {
  color: #3cc978;
}
.yellow-text {
  color: #B2D904;
}
.gray-substribe {
  background-color: #e5e6ec;
  /* IE9, iOS 3.2+ */
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj48c3RvcCBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiNjYmNkZDkiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI3ZzZ2cpIiAvPjwvc3ZnPg==);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%,color-stop(0, rgb(255, 255, 255)),color-stop(1, rgb(203, 205, 217)));
  /* Android 2.3 */
  background-image: -webkit-repeating-linear-gradient(top,rgb(255, 255, 255) 0%,rgb(203, 205, 217) 100%);
  /* IE10+ */
  background-image: repeating-linear-gradient(to bottom,rgb(255, 255, 255) 0%,rgb(203, 205, 217) 100%);
  background-image: -ms-repeating-linear-gradient(top,rgb(255, 255, 255) 0%,rgb(203, 205, 217) 100%);
}
.blue-substribe {
  background-color: #4ab1e9;
  /* IE9, iOS 3.2+ */
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj48c3RvcCBzdG9wLWNvbG9yPSIjNGFiMWU5IiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiMyOTZjZDUiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI3ZzZ2cpIiAvPjwvc3ZnPg==);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%,color-stop(0, rgb(74, 177, 233)),color-stop(1, rgb(41, 108, 213)));
  /* Android 2.3 */
  background-image: -webkit-repeating-linear-gradient(top, rgb(74, 177, 233) 0%, rgb(41, 108, 213) 100%);
  /* IE10+ */
  background-image: repeating-linear-gradient(to bottom, rgb(74, 177, 233) 0%, rgb(41, 108, 213) 100%);
  background-image: -ms-repeating-linear-gradient(top, rgb(74, 177, 233) 0%, rgb(41, 108, 213) 100%);
}
.turq-substribe {
  background-color: #00b0ce;
  /* IE9, iOS 3.2+ */
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj48c3RvcCBzdG9wLWNvbG9yPSIjMDBjOGRkIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiMwMDk4YmUiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI3ZzZ2cpIiAvPjwvc3ZnPg==);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%,color-stop(0, rgb(0, 200, 221)),color-stop(1, rgb(0, 152, 190)));
  /* Android 2.3 */
  background-image: -webkit-repeating-linear-gradient(top,rgb(0, 200, 221) 0%,rgb(0, 152, 190) 100%);
  /* IE10+ */
  background-image: repeating-linear-gradient(to bottom,rgb(0, 200, 221) 0%,rgb(0, 152, 190) 100%);
  background-image: -ms-repeating-linear-gradient(top,rgb(0, 200, 221) 0%,rgb(0, 152, 190) 100%);
}
.dark-green-substribe {
  background-color: #00bd9d;
  /* IE9, iOS 3.2+ */
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj48c3RvcCBzdG9wLWNvbG9yPSIjMDBkMWJhIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiMwMGE5N2YiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI3ZzZ2cpIiAvPjwvc3ZnPg==);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%,color-stop(0, rgb(0, 209, 186)),color-stop(1, rgb(0, 169, 127)));
  /* Android 2.3 */
  background-image: -webkit-repeating-linear-gradient(top,rgb(0, 209, 186) 0%,rgb(0, 169, 127) 100%);
  /* IE10+ */
  background-image: repeating-linear-gradient(to bottom,rgb(0, 209, 186) 0%,rgb(0, 169, 127) 100%);
  background-image: -ms-repeating-linear-gradient(top,rgb(0, 209, 186) 0%,rgb(0, 169, 127) 100%);
}
.green-substribe {
  background-color: #3ecb7c;
  /* IE9, iOS 3.2+ */
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj48c3RvcCBzdG9wLWNvbG9yPSIjNTBkYjlmIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiMyY2JiNTgiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI3ZzZ2cpIiAvPjwvc3ZnPg==);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%,color-stop(0, rgb(80, 219, 159)),color-stop(1, rgb(44, 187, 88)));
  /* Android 2.3 */
  background-image: -webkit-repeating-linear-gradient(top,rgb(80, 219, 159) 0%,rgb(44, 187, 88) 100%);
  /* IE10+ */
  background-image: repeating-linear-gradient(to bottom,rgb(80, 219, 159) 0%,rgb(44, 187, 88) 100%);
  background-image: -ms-repeating-linear-gradient(top,rgb(80, 219, 159) 0%,rgb(44, 187, 88) 100%);
}
.yellow-substribe {
  background-color: #8fc803;
  /* IE9, iOS 3.2+ */
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj48c3RvcCBzdG9wLWNvbG9yPSIjYjJkOTA0IiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiM2Y2I3MDIiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI3ZzZ2cpIiAvPjwvc3ZnPg==);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%,color-stop(0, rgb(178, 217, 4)),color-stop(1, rgb(108, 183, 2)));
  /* Android 2.3 */
  background-image: -webkit-repeating-linear-gradient(top,rgb(178, 217, 4) 0%,rgb(108, 183, 2) 100%);
  /* IE10+ */
  background-image: repeating-linear-gradient(to bottom,rgb(178, 217, 4) 0%,rgb(108, 183, 2) 100%);
  background-image: -ms-repeating-linear-gradient(top,rgb(178, 217, 4) 0%,rgb(108, 183, 2) 100%);
}
.dark-substribe {
  background-color: #182c3f;
  /* IE9, iOS 3.2+ */
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj48c3RvcCBzdG9wLWNvbG9yPSIjMjQ0MTVjIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiMwYjE3MjEiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI3ZzZ2cpIiAvPjwvc3ZnPg==);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%,color-stop(0, rgb(36, 65, 92)),color-stop(1, rgb(11, 23, 33)));
  /* Android 2.3 */
  background-image: -webkit-repeating-linear-gradient(top,rgb(36, 65, 92) 0%,rgb(11, 23, 33) 100%);
  /* IE10+ */
  background-image: repeating-linear-gradient(to bottom,rgb(36, 65, 92) 0%,rgb(11, 23, 33) 100%);
  background-image: -ms-repeating-linear-gradient(top,rgb(36, 65, 92) 0%,rgb(11, 23, 33) 100%);
}






header {
  padding: 40px 0;
  background: url("../img/header-bg.jpg");
  color: #ffffff;
  font-size: 13px;
}
.main-page header {
  padding-bottom: 80px;
}
.logo {
  background: url("../img/logo.png");
  width: 193px;
  height: 49px;
  float: left;
}
.header-contact .tel {
  float: left;
  margin-left: 224px;
  font-weight: 100;
  margin-top: 15px;
}
.header-contact .lang {
  margin-left: 61px;
  float: left;
  margin-top: 14px;
}
.header-contact .lang a {
  color: #ffffff;
}
.header-contact .flag {
  margin-top: -1px;
}
.header-contact .scype-chat {
  margin-left: 45px;
  float: left;
  padding-top: 3px;
  margin-top: 12px;
}
.header-contact .social-btn {
  float: left;
  margin-left: 62px;
}
.main-menu {
  margin-top: 45px;
}
.main-menu nav {
  border-radius: 3px;
  position: relative;
  z-index: 99;
}
.main-menu nav:before {
  content: '';
  display: block;
  width: 217px;
  height: 20px;
  position: absolute;
  top: 25px;
  left: 40px;
  box-shadow: 0px 28px 33px rgba(0,0,0,0.5);
  transform: rotate(-5deg);
  z-index: -1;
}
.main-menu nav:after {
  content: '';
  display: block;
  width: 217px;
  height: 20px;
  position: absolute;
  top: 25px;
  right: 40px;
  box-shadow: 0px 28px 33px rgba(0,0,0,0.5);
  transform: rotate(5deg);
  z-index: -1;
}
.main-menu a {
  padding: 26px 27px;
  display: block;
  background-color: #d4d6dc;
  /* IE9, iOS 3.2+ */
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj48c3RvcCBzdG9wLWNvbG9yPSIjZWJlZGYxIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiNiZGJmYzciIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI3ZzZ2cpIiAvPjwvc3ZnPg==);
  background-image: -moz-linear-gradient( 90deg, rgb(189,191,199) 0%, rgb(235,237,241) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(189,191,199) 0%, rgb(235,237,241) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(189,191,199) 0%, rgb(235,237,241) 100%);
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
  border-right: 1px solid #ffffff;
  border-left: 1px solid #A5A5A5;
  float: left;
  z-index: 99;
  text-shadow: 0px 1px 1px rgba(255,255,255,0.6);
  position: relative;
}

.main-menu a:first-child {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  padding: 26px 29px;
}
.main-menu a:last-child {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  padding: 26px 29px;
}
.main-menu a:first-child {
  border-left: none;
}
.main-menu a:last-child {
  border-right: none;
}
.menu-item-hover {
  display: none;
  position: absolute;
  overflow: hidden;
  border-radius: 4px;
  top: -9px;
  left: 10px;
  padding: 35px 15px 15px 17px;
  text-align: center;
  background-color: #93bc2b;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zd…B5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI3ZzZ2cpIiAvPjwvc3ZnPg==);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%,color-stop(0, rgb(188, 225, 86)),color-stop(1, rgb(106, 150, 0)));
  background-image: -webkit-repeating-linear-gradient(top,rgb(188, 225, 86) 0%,rgb(106, 150, 0) 100%);
  background-image: repeating-linear-gradient(to bottom,rgb(188, 225, 86) 0%,rgb(106, 150, 0) 100%);
  background-image: -ms-repeating-linear-gradient(top,rgb(188, 225, 86) 0%,rgb(106, 150, 0) 100%);
}
.main-menu a:first-child .menu-item-hover, .main-menu a:last-child .menu-item-hover {
  padding-left: 19px;
}
.menu-item-hover:before {
  content: '';
  display: inline-block;
  border: 25px solid transparent;
  border-bottom: 25px solid rgba(148, 183, 60, 0.5);
  position: absolute;
  top: -25px;
  left: -25px;
  transform: rotate(-45deg);
}
.menu-item-hover:after {
  content: '';
  display: inline-block;
  border: 25px solid transparent;
  border-bottom: 25px solid rgba(98, 137, 5, 0.5);
  position: absolute;
  bottom: -25px;
  right: -25px;
  transform: rotate(135deg);
}

.menu-item-hover i {
  margin-top: 10px;
  font-size: 37px;
}
.main-menu a:hover .menu-item-hover, .main-menu a.active .menu-item-hover {
  display: block;
}
.main-page .header-content {
  margin-top: 135px;
}
.header-content {
  margin-top: 90px;
}
.header-content {
  text-align: center;
}
.header-desc-top {
  font-size: 41px;
  font-weight: 100;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.header-desc-bot {
  font-size: 21px;
  text-transform: uppercase;
  font-weight: 100;
  margin-bottom: 86px;
}
.input-container {
  margin-bottom: 53px;
}
.registration-btn-wrap {
  margin-top: 38px;
}
.input-container input {
  color: #fff;
  width: 222px;
}

.login-field {
  margin-right: 30px;
}
.success-btn i {
  margin-left: 10px;
}
a.registration {
  font-size: 14px;
  color: rgb( 171, 226, 26 );
  text-transform: uppercase;
  font-weight: 100;
}
 a.registration i{
  margin-left: 10px;
}
.about {
  padding-top: 95px;
}
.tabs li {
  width: 210px;
  padding: 20px 0;
  text-align: center;
  float: left;
  border: 1px solid #E8E9EB;
  margin-left: 10px;
  font-size: 12px;
  font-weight: 100;
  cursor: pointer;
  text-transform: uppercase;
  overflow: hidden;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  position: relative;
  z-index: 999;
  border-bottom: 1px solid #B9C0C8;
  background-color: #f1f2f4;
  /* IE9, iOS 3.2+ */
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj48c3RvcCBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiNlY2VlZjEiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjgxNDAwMDAwMDAwMDAwMDEiLz48c3RvcCBzdG9wLWNvbG9yPSIjZTJlMmUyIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMC45MjQiLz48c3RvcCBzdG9wLWNvbG9yPSIjYzBjN2NkIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMSIvPjwvbGluZWFyR3JhZGllbnQ+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCN2c2dnKSIgLz48L3N2Zz4=);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%,color-stop(0, rgb(255, 255, 255)),color-stop(0.814, rgb(236, 238, 241)),color-stop(0.924, rgb(226, 226, 226)),color-stop(1, rgb(192, 199, 205)));
  /* Android 2.3 */
  background-image: -webkit-repeating-linear-gradient(top,rgb(255, 255, 255) 0%,rgb(236, 238, 241) 81.4%,rgb(226, 226, 226) 92.4%,rgb(192, 199, 205) 100%);
  /* IE10+ */
  background-image: repeating-linear-gradient(to bottom,rgb(255, 255, 255) 0%,rgb(236, 238, 241) 81.4%,rgb(226, 226, 226) 92.4%,rgb(192, 199, 205) 100%);
  background-image: -ms-repeating-linear-gradient(top,rgb(255, 255, 255) 0%,rgb(236, 238, 241) 81.4%,rgb(226, 226, 226) 92.4%,rgb(192, 199, 205) 100%);

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffffff",endColorstr="#ffc0c7cd",GradientType=0);

}
.tabs li:before {
  content: '';
  display: inline-block;
  position: absolute;
  top: -45px;
  left: -45px;
  transform: rotate(-45deg);
}
.tabs li:after {
  content: '';
  display: inline-block;
  position: absolute;
  bottom: -45px;
  right: -45px;
  transform: rotate(135deg);
}
.tabs li:first-child {
  margin-left: 0;
}
.first-rate {
  color: #419ae2;
}
.first-rate:before {
  border: 45px solid transparent;
  border-bottom: 45px solid rgba(65, 154, 226, 0.20);
}
.first-rate:after {
  border: 45px solid transparent;
  border-bottom: 45px solid rgba(65, 154, 226, 0.20);
}
.second-rate {
  color: #00bdd5;
}
.second-rate:before {
  border: 45px solid transparent;
  border-bottom: 45px solid rgba(0, 189, 213, 0.20);
}
.second-rate:after {
  border: 45px solid transparent;
  border-bottom: 45px solid rgba(0, 189, 213, 0.20);
}
.third-rate {
  color: #00c0a1;
}
.third-rate:before {
  border: 45px solid transparent;
  border-bottom: 45px solid rgba(0, 192, 161, 0.20);
}
.third-rate:after {
  border: 45px solid transparent;
  border-bottom: 45px solid rgba(0, 192, 161, 0.20);
}
.fourth-rate {
  color: #3ecb7d;
}
.fourth-rate:before {
  border: 45px solid transparent;
  border-bottom: 45px solid rgba(62, 203, 125, 0.20);
}
.fourth-rate:after {
  border: 45px solid transparent;
  border-bottom: 45px solid rgba(62, 203, 125, 0.20);
}
.last-rate {
  color: #90c804;
}
.last-rate:before {
  border: 45px solid transparent;
  border-bottom: 45px solid rgba(144, 200, 4, 0.20);
}
.last-rate:after {
  border: 45px solid transparent;
  border-bottom: 45px solid rgba(144, 200, 4, 0.20);
}
.tabs li.active {
  background: none;
  border: 1px solid #B9C0C8;
  border-bottom: 2px solid #FFFFFF;
  margin-bottom: -1px;
}
.tabs li.active:before, .tabs li.active:after {
  display: none;
}
.profit-info {
  position: relative;
  z-index: 9;
  margin-bottom: 100px;
}
.profit-info:after {
  content: '';
  display: block;
  width: 236px;
  height: 20px;
  position: absolute;
  bottom: 50px;
  right: 100px;
  box-shadow: 0px 30px 60px rgba(0,0,0,1);
  transform: rotate(3deg);
  z-index: -1;
}
.persent-rate {
  font-size: 80px;
  font-weight: bold;
  text-shadow: -1px -1px 0px rgba(0,0,0,0.9);
  line-height: 112px;
}
.persent-rate sup {
  font-size: 42px;
  vertical-align: top;
  line-height: 86px;
}
.profit-info-content {
  padding: 60px 50px 70px;
  border: 1px solid #b9c0c8;
  clear: both;
  overflow: hidden;
  width: 998px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  position: relative;
  z-index: 99;
  background: #fff;
}


.profit-desc {
  float: left;
  width: 480px;
  margin-right: 170px;
}
.profit-calc {
  float: left;
  width: 345px;

}
.investment {
  border: 2px solid rgb( 0, 188, 212 );
  border-radius: 3px;
  width: 341px;
  color: rgb( 0, 188, 212 );
  margin-bottom: 10px;
}
.investment .desc-invest{
  padding: 15px 10px;
  float: left;
  width: 90px;
}
.investment input {
  float: right;
  border: none;
  width: 50%;
  color: rgb( 0, 188, 212 );
  outline: none;
  text-align: right;
  font-weight: bold;
  font-size: 21px;
  padding: 10px 10px;
}
.light-profit, .pure-profit {
  border: 1px solid rgb( 227, 227, 227 );
  border-radius: 3px;
  background-color: #edeef2;
  /* IE9, iOS 3.2+ */
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iMCUiPjxzdG9wIHN0b3AtY29sb3I9IiNkYWRjZTUiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwIi8+PHN0b3Agc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjdnNnZykiIC8+PC9zdmc+);
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%,color-stop(0, rgb(218, 220, 229)),color-stop(1, rgb(255, 255, 255)));
  /* Android 2.3 */
  background-image: -webkit-repeating-linear-gradient(90deg,rgb(218, 220, 229) 0%,rgb(255, 255, 255) 100%);
  /* IE10+ */
  background-image: repeating-linear-gradient(0deg,rgb(218, 220, 229) 0%,rgb(255, 255, 255) 100%);
  background-image: -ms-repeating-linear-gradient(90deg,rgb(218, 220, 229) 0%,rgb(255, 255, 255) 100%);
  width: 165px;
  padding: 25px 0;
  float: left;
  text-align: center;
  text-transform: uppercase;
}
.profit-calc p {
  margin-bottom: 25px;
  font-size: 12px;
}
.profit-calc span {
  font-size: 21px;
  font-weight: 600;
}

.light-profit {
  margin-right: 10px;
}
.profit-calc .btn-info {
  width: 325px;
  padding: 15px 10px;
  margin-top: 10px;
}


.about-bg {
  background-image: url("../img/apple-monoblock.png");
  width: 525px;
  height: 600px;
  float: left;
  margin-left: 59px;
  margin-top: 55px;
}
.about-desc {
  width: 515px;
  padding: 75px 0 125px 0;
  float: left;
  background: #ffffff;
  position: relative;
  z-index: 99;
}
.about-bottom .content {
  position: relative;
  z-index: 9;
}
.about-bottom .content:before {
  content: '';
  display: block;
  width: 334px;
  height: 20px;
  position: absolute;
  top: 55px;
  left: 35px;
  box-shadow: 0px -30px 100px rgba(0,0,0,0.7);
  transform: rotate(3deg);
  z-index: -1;
}

p {
  font-size: 14px;
  font-weight: 100;
  margin-bottom: 40px;
  line-height: 27px;
}
.about-desc .btn-info {
  margin-right: 30px;
}
.about-desc .btn {
  padding: 10px 25px;
}
.statistics {
  background: url("../img/substrate-statistics.jpg");
  padding: 125px 0;
  font-size: 14px;
  font-weight: 100;
  color: #ffffff;
  text-align: center;
}
.opening {
  background: url("../img/calendar.png");
  background-repeat: no-repeat;
  background-position: top center;
  padding-top: 245px;
  float: left;
  width: 220px;
  margin-right: 70px;
}
.people-invite {
  background: url("../img/count-people.png");
  background-repeat: no-repeat;
  background-position: top center;
  padding-top: 245px;
  float: left;
  width: 220px;
  margin-right: 70px;
}
.general-bank {
  background: url("../img/bank.png");
  background-repeat: no-repeat;
  background-position: top center;
  padding-top: 245px;
  float: left;
  width: 220px;
  margin-right: 70px;
}
.paid {
  background: url("../img/personal-money.png");
  background-repeat: no-repeat;
  background-position: top center;
  padding-top: 255px;
  float: left;
  width: 220px;
  margin-top: -10px;
}
.advantages-top {
  padding: 90px 0 38px;
  text-align: center;
  background: url("../img/substribe-advantages.jpg");
}
.advantages-left {
  text-align: right;
  margin-right: 25px;
  width: 270px;
}
.advantages-right {
  text-align: left;
  margin-left: 25px;
  width: 270px;
}
.advantage-icon-block {
  background: url("../img/advantages-line.jpg");
  background-position: center;
  background-repeat: repeat-y;
}
.left-block .advantage-icon-block {
  margin-right: 170px;
}
.right-block .advantage-icon-block {
  margin-left: 180px;
}
.advantages-top h3 {
  margin-bottom: 80px;
}
.advantages-top p {
  font-size: 13px;
  margin-bottom: 50px;
  line-height: 20px;
}

.security-icon {
  background: #fff;
  background-image: url("../img/guard-icon.png");
  width: 70px;
  height: 70px;
  border: 3px solid rgb( 192, 199, 205 );
  box-shadow: 0px 0px 10px 0px rgb( 20, 22, 25 );
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: 65px;
}
.income-icon {
  background: #fff;
  background-image: url("../img/diamond-icon.png");
  width: 70px;
  height: 70px;
  border: 3px solid rgb( 192, 199, 205 );
  box-shadow: 0px 0px 10px 0px rgb( 20, 22, 25 );
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: 60px;
}
.output-icon {
  background: #fff;
  background-image: url("../img/database-icon.png");
  width: 70px;
  height: 70px;
  border: 3px solid rgb( 192, 199, 205 );
  box-shadow: 0px 0px 10px 0px rgb( 20, 22, 25 );
  background-repeat: no-repeat;
  background-position: center center;
}

.hight-persent-icon {
  background: #fff;
  background-image: url("../img/percent-icon.png");
  width: 70px;
  height: 70px;
  border: 3px solid rgb( 192, 199, 205 );
  box-shadow: 0px 0px 10px 0px rgb( 20, 22, 25 );
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: 65px;
}
.favorable-conditions-icon {
  background: #fff;
  background-image: url("../img/dollar-icon.png");
  width: 70px;
  height: 70px;
  border: 3px solid rgb( 192, 199, 205 );
  box-shadow: 0px 0px 10px 0px rgb( 20, 22, 25 );
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: 60px;
}
.prof-team-icon {
  background: #fff;
  background-image: url("../img/people-icon.png");
  width: 70px;
  height: 70px;
  border: 3px solid rgb( 192, 199, 205 );
  box-shadow: 0px 0px 10px 0px rgb( 20, 22, 25 );
  background-repeat: no-repeat;
  background-position: center center;
}
.advantages-bottom {
  padding: 80px 0;
  background: url("../img/substribe-time.jpg");
  color: #ffffff;
}
.advantages-bottom h2 {
  margin-bottom: 10px;
}
.advantages-bottom h3 {
  line-height: 40px;
  margin-bottom: 69px;
}
.advantages-list {
  margin-bottom: 5px;

}
.spoiler a {
  text-transform: uppercase;
  color: #ffffff;
  display: inline-block;
  padding: 12px;
  background: #1E2437;
  border: 1px solid #3E465D;
  font-size: 12px;
  text-decoration: none;
  width: 485px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  position: relative;
  margin-left: 41px;
}
.spoiler a:before {
  font: normal normal normal 14px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f067";
  display: inline-block;
  width: 40px;
  background: #343C53;
  border: 1px solid #3E465D;
  border-right: none;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  position: absolute;
  top: -1px;
  left: -41px;
  font-size: 16px;
  text-align: center;
  padding: 10px 0;
}
.spoiler.active a {
  background: #00B4CB;
  border: 1px solid #00B4CB;
}
.spoiler.active a:before {
  content: "\f068";
  background: #00CEB5;
  border: 1px solid #00CEB5;
}
.spoiler-desc {
  display: none;
  padding: 25px 0;
  font-size: 13px;
  color: #a8a8b5;
  line-height: 24px;
  font-weight: 100;
}
.spoiler.active .spoiler-desc {
  display: block;
}
.video-block {
  padding: 125px 0;
}
.video {
  margin-right: 80px;
  width: 620px;
  float: left;
}
.video-text {
  width: 400px;
  padding-top: 60px;
  float: left;
}
.logo-short-big {
  background: url("../img/big-logo.png");
  width: 386px;
  height: 71px;
  margin-bottom: 75px;
}
.video-text p {
  text-transform: uppercase;
  font-size: 21px;
  font-weight: 100;
  line-height: 35px;
}
.important {
  font-size: 33px;
  color: #2c3247;
  font-weight: bold;
  text-transform: uppercase;
}
.news-block {
  padding: 90px 0;
  background: #eff0f1;
}
.news-block .important {
  margin-right: 40px;
  margin-bottom: 90px;
}
.single-article {
  width: 500px;
  float: left;
  margin-left: 80px;
  margin-bottom: 20px;
}
.single-article:first-child {
  margin-left: 0;
}
a.single-article-img {
  float: left;
  margin-right: 25px;
}
.single-article-description {
  float: left;
  width: 285px;
}
.describe-blue, .describe-green {
  font-size: 33px;
  color: #429AE2;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.describe-green {
  color: #1BBEA0;
}
.describe-blue sup, .describe-green sup {
  font-size: 15px;
  vertical-align: top;
  color: #00bcd4;
}
.describe-green sup {
  color: #7ABA09;
}
.dark-link {
  color: #373740;
  text-decoration: none;
  text-transform: uppercase;
  margin-bottom: 15px;
  display: inline-block;
}
.link-desc {
  font-size: 13px;
  font-family: "Gotham Pro";
  color: #373740;
  line-height: 1.714;
  font-weight: 100;
}


















footer {
  background: url("../img/footer-bg.jpg");
  padding-top: 60px;
  height: 460px;
  position: relative;
  color: #9ba0b2;
  font-size: 13px;
}
.footer-top {
  padding-bottom: 62px;
}
.payment {
  background: url("../img/payment-partner.png") ;
  width: 1103px;
  height: 40px;
  margin-bottom: 100px;
}
.copy {
  width: 225px;
  margin-right: 50px;
  line-height: 24px;
}
.copy p {
  margin-bottom: 0;
}
.address-header {
  width: 172px;
  margin-right: 45px;
  line-height: 30px;
  margin-top: 8px;
}
.address-desc {
  width: 172px;
  margin-right: 45px;
  line-height: 30px;
  margin-top: 8px;
}
.footer-contact {
  width: 154px;
  margin-right: 40px;
  line-height: 46px;
}
.tel {
  background: url("../img/tel-icon.png") ;
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 30px;
  font-weight: bold;
}
.scype-chat {
  background: url("../img/call-icon.png") ;
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 30px;
}
.scype-chat a {
  color: #b2dd4c;
  font-weight: 100;
}
.lang {
  font-weight: 100;
}
.lang a {
  color: #9ba0b2;
  text-decoration: none;
}
.lang i {
  margin-left: 10px;
}
.flag {
  background: url("../img/rus-icon.png");
  background-repeat: no-repeat;
  background-position: center center;
  width: 21px;
  height: 14px;
  margin-right: 10px;
  margin-top: 15px;
  float: left;
}
.investment-info {
  width: 202px;
  line-height: 46px;
}
.investment-info a {
  color: #54eeb3;
  text-decoration: none;
  font-weight: 100;
}
.investment-info a>i {
  font-size: 10px;
}
.logo-short {
  background: url("../img/logo.png") ;
  width: 193px;
  height: 40px;
  margin-bottom: 20px;
}
.footer-bot nav {
  padding-top: 45px;
  border-radius: 2px;
  float: left;
}
.footer-bot nav a {
  color: #9ba0b2;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  margin-right: 34px;
}
.footer-bot nav a:hover {
  color: #24d2e8;
}
.footer-bot .social-btn {
  padding-top: 33px;
  float: left;
}
.social-btn li {
  float: left;
  border: 1px solid #9ba0b2;
  margin-right: -1px;
}
.social-btn a {
  display: inline-block;
  padding: 10px;
  color: #9ba0b2;
  text-decoration: none;
  font-size: 17px;
  min-width: 18px;
  text-align: center;
}
.social-btn a:hover {
  color: #24d2e8;
}
.social-btn li:first-child {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}
.social-btn li:last-child {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}



/*FAQ*/
.faq-page {
  background: url("../img/faq-bg.jpg");
}
.form-min-field {
  margin-right: 30px;
}
.faq {
  padding: 100px 0 90px 0;
  background: #EFF0F1;
}
.decorate {
  color: #1e2437;
  font-size: 45px;
  font-weight: bold;
  text-transform: uppercase;
  background: url("../img/header-accessories.png");
  background-position: center;
  background-repeat: repeat-x;
  text-align: center;
  margin-bottom: 90px;
}
.decorate span {
  background: #EFF0F1;;
  padding: 0 20px;
}

.spoiler-white-wrap {
  margin-bottom: 10px;

}
.right-block .spoiler-white-wrap {
  float: right;
}
.spoiler-white-wrap .spoiler a {
  color: #ffffff;
  display: inline-block;
  padding: 23px 25px;
  background: #fff;
  border: 1px solid #C0C7CD;
  border-radius: 3px;
  box-shadow: 0px 0px 15px rgba( 20, 22, 25, 0.3 );
  text-decoration: none;
  width: 460px;
  border-radius: 3px;
  position: relative;
  font-weight: bold;
  font-size: 13px;
  color: rgb( 55, 55, 64 );
  text-transform: uppercase;
  text-align: left;
  margin-left: 0;
}
.spoiler-white-wrap .spoiler a:before {
  font: normal normal normal 14px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f067";
  background-color: #00bed5;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zd?B5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI3ZzZ2cpIiAvPjwvc3ZnPg==);
  background-image: -moz-linear-gradient( 90deg, #00ACCA 0%, #00CFE0 100%);
  background-image: -webkit-linear-gradient( 90deg, #00ACCA 0%, #00CFE0 100%);
  background-image: -ms-linear-gradient( 90deg, #00ACCA 0%, #00CFE0 100%);
  box-shadow: -1px -1px 0px 0px rgb( 20, 22, 25 );
  color: #ffffff;
  position: absolute;
  left: inherit;
  top: 10px;
  right: 10px;
  padding: 10px 0px;
  font-size: 20px;
  border: none;
  border-radius: 3px;
}
.spoiler-white-wrap .spoiler.active a {
  background: #fff;
  border: 1px solid #C0C7CD;
}
.spoiler-white-wrap .spoiler.active a:before {
  content: "\f068";
  background: #9bcd0d;
  border: none;
  background-color: #7cbb0a;
  border-radius: 3px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj48c3RvcCBzdG9wLWNvbG9yPSIjOWJjZDBkIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiM1Y2E5MDciIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI3ZzZ2cpIiAvPjwvc3ZnPg==);
  background-image: -moz-linear-gradient( 90deg, #5CA907 0%, #9bcd0d 100%);
  background-image: -webkit-linear-gradient( 90deg, #5CA907 0%, #9BCD0D 100%);
  background-image: -ms-linear-gradient( 90deg, #5CA907 0%, #9BCD0D 100%);
}
.spoiler-white-wrap .spoiler-desc {
  display: none;
  padding: 25px 30px;
  font-size: 14px;
  background: #f0f0f4;
  color: #1e2437;
  line-height: 24px;
  font-weight: 100;
  border: 1px solid #C0C7CD;
  border-top: 0;
  box-shadow: 0px 0px 15px rgba( 20, 22, 25, 0.3 );
  margin-top: -3px;
  width: 450px;
}


/*Shares*/
.shares {
  padding: 100px 0 50px 0;
  background: #EFF0F1;
}
.shares-page {
  background: url("../img/shares-bg.jpg");
}
.max-profit {
  background: url("../img/3000-bg.jpg");
  padding: 40px 30px;
  color: #ffffff;
  margin-bottom: 100px;
}
.max-profit-head {
  margin-bottom: 45px;
}

.max-profit .gray-substribe {
  padding: 30px 0;
  float: left;
  margin-left: 20px;
  width: 157px;
  text-align: center;
  color: #252528;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 100;
  border-radius: 3px;
}

.max-profit .gray-substribe:first-child {
  margin-left: 0;
}
.max-profit .gray-substribe .bold {
  margin-bottom: 30px;
}
.max-profit .green-header {
  font-size: 35px;
  font-family: "Gotham Pro";
  color: rgb( 0, 208, 185 );
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.143;
}
.green-text {
  color: rgb( 0, 208, 185 );
}
.max-profit table {
  width: 480px;
}
.dark-table {
  background: rgba(0,0,0,0.2);
}
.dark-table, .dark-table tr, .dark-table td, .dark-table th {
  border-color: #656978;
}
.max-profit td {
  background: url("../img/cup.png");
  background-position: left 18px top 10px;
  background-repeat: no-repeat;
  padding: 15px 0 15px 55px;
  font-size: 13px;
}
.successful-person {
  background: url("../img/successful-people.jpg");
  width: 498px;
  height: 374px;
  margin-top: 15px;
  margin-left: 22px;
}
.condition {
  padding: 60px 0 30px 0;
  margin-top: 65px;
  border-top: 1px solid #656978;
  color: #eff0f1;
}
.list-blue-dot li {
  margin-top: 45px;
  margin-left: 20px;
  position: relative;
}
.list-blue-dot li:before {
  content: '';
  width: 5px;
  height: 5px;
  position: absolute;
  top: 5px;
  left: -20px;
  background: #00C6DB;
}
.list-blue-dot li:first-child {
  margin-top: 0;
}
.max-profit.crazy {
  background: url("../img/5000-bg.jpg");
}
.crazy .successful-person {
  background: url("../img/get-price.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
}



/*investment*/
.investment-page {
  background: url("../img/investement-bg.jpg");
}
.invest {
  padding-bottom: 80px;
  padding-top: 100px;
  background: #EFF0F1;
}
.decorate.with-desc {
  margin-bottom: 30px;
  margin-top: 0;
}

.article-block {
  margin-top: 90px;
  margin-bottom: 35px;
}
.article-block-right-p {
  margin-left: 30px;
  word-break: break-all;
}
.article-block-left-p {
  margin-right: 30px;
  word-break: break-all;
}
.rate-list .profit-info-content {
  padding: 0;
  border-radius: 0;
  margin-bottom: 40px;
  border: 0;
  width: 100%;
  box-shadow: 0px 0px 15px rgba( 20, 22, 25, 0.2 ); */
}
.rate-list .profit-info-top {
  padding: 35px 35px 35px 30px;
  border-radius: 3px;
  box-shadow: 0px 0px 15px rgba( 20, 22, 25, 0.2 );
  border: 1px solid #b9c0c8;
  background: #fff;
  z-index: 99;
  position: relative;
}
.persent-info {
  text-align: center;
  width: 165px;
  float: left;
  padding: 47px 0;
  margin-top: 56px;
  margin-right: 30px;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
}
.rate-list .profit-desc {
  float: left;
  width: 465px;
  margin-right: 30px;
  font-size: 13px;
}
.rate-list .light-profit, .rate-list  .pure-profit {
  padding: 20px 0;
}
.rate-list .profit-calc p {
  margin-bottom: 19px;
  font-size: 12px;
  font-weight: bold;
}
.investment.blue {
  border: 2px solid #3484DC;
  color: #3484DC;
}
.investment.blue input {
  color: #3484DC;
}
.investment.dark-green {
  border: 2px solid #00bb99;
  color: #00bb99;
}
.investment.dark-green input {
  color: #00BB99;
}
.investment.green {
  border: 2px solid #3cc978;
  color: #3cc978;
}
.investment.green input {
  color: #3cc978;
}
.investment.yellow {
  border: 2px solid #3cc978;
  color: #3cc978;
}
.investment.yellow input {
  color: #3cc978;
}
.investment.turq {
  border: 2px solid #00BCD4;
  color: #00BCD4;
}
.investment.turq input {
  color: #00BCD4;
}
.profit-info-settings {
  display: none;
  border: 1px solid #b9c0c8;
  border-top: 0;
  padding: 40px 35px 35px 35px;
  margin-top: -3px;
  border-radius: 3px;
  background: #f0f0f4;
  z-index: -1;
  position: relative;
}
.profit-info-settings.active {
  display: block;
}
.settings-info {
  float: left;
  width: 655px;
  margin-right: 30px;
}
.settings-form {
  float: left;
  width: 345px;
}
.progress {
  width: 100%;
  height: 10px;
  position: relative;
  margin: 10px 0;
  background: #fff;
}
.progress-line {
  content: '';
  height: 10px;
  width: 50%;
  position: absolute;
  top: 0;
  left: 0;
}
.settings-form .btn {
  width: 325px;
  margin-top: 30px;
}
.share {
  font-weight: 100;
  font-size: 13px;
}
.share .bold {
  font-size: 16px;
}
.share-investment {
  color: #2665d3;
}
.share-company {
  color: #0094BD;
}
.share-manager {
  color: #009F70;
}

/*information*/
.inform-page {
  background: url("../img/inform-bg.jpg");
}
.information {
  padding: 100px 0 50px 0;
  background: #EFF0F1;
}
.left-image {
  box-shadow: 0px 0px 15px rgba( 20, 22, 25, 0.3 );
  width: 545px;
  height: 365px;
  border: 1px solid #fff;
  overflow: hidden;
  margin: 0 35px 55px 0;
  float: left;
}
.right-image {
  box-shadow: 0px 0px 15px rgba( 20, 22, 25, 0.3 );
  width: 545px;
  height: 365px;
  border: 1px solid #fff;
  overflow: hidden;
  margin: 0 0 55px 35px;
  float: right;
}
.image-text {
  float: left;
  width: 522px;
}
.image-text h3{
  line-height: 33px;
  margin-top: 85px;
}
 

/*history*/
.header-content.user-info {
  margin-top: 50px;
  margin-bottom: 40px;
}

.history-page {
  background: url("../img/history-bg.jpg");
}
.history {
  padding: 60px 0 50px 0;
  background: #EFF0F1;
}
.transparent-substribe {
  border: 1px solid #647481;
  border-radius: 3px;
  background: rgba(0,0,0,0.3);
  box-shadow: 0px 0px 10px 0px rgb( 20, 22, 25 );
}
.user-info .transparent-substribe {
  text-align: left;
  padding: 30px;
  float: left;
}
.user-info .first-block {
  width: 320px;
  margin-right: 16px;

}
.name {
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 17px;
}
.name i {
  color: #24d2e8;
  margin-right: 10px;
  font-size: 20px;
}
.email {
  color: #00e7b5;
  font-size: 14px;
  font-weight: 100;
}
.email i {
  margin-right: 10px;
  color: #00e7b5;
  font-size: 16px;
}
.network-info {
  width: 315px;
  float: left;
  margin-right: 16px;
}
.network-info .left{
  width: 185px;
  float: left;
  color: #c1c4cb;
  font-size: 14px;
  font-weight: 100;
}
.network-info .right{
  width: 125px;
  float: left;
  font-weight: bold;
  font-size: 14px;
}
.network-info-top {
  margin-bottom: 25px;
}
.user-info .balance-block {
  width: 245px;
  text-align: center;
  font-size: 14px;
  color: #c1c4cb;
  text-transform: uppercase;
  background: none;
}
.balance {
  color: rgb( 162, 221, 23 );
  font-size: 33px;
  margin-top: 6px;
  font-weight: bold;
}
.sub-menu {
  margin-bottom: 70px;
}
.sub-menu-item {
  display: block;
  float: left;
  width: 259px;
  text-align: center;
  color: #252528;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  padding: 25px 0;
  border: 1px solid #fff;
  border-radius: 3px;
  box-shadow: 0px 0px 4px 0px rgba( 20, 22, 25, 0.3 );
  margin-left: 20px;
  margin-bottom: 20px;
  text-shadow: 0px 1px 1px rgba(255,255,255,0.6);
}
.sub-menu-item:first-child {
  margin-left: 0;
}
.sub-menu-item i {
  font-size: 33px;
  margin-bottom: 25px;
}
.history-item {
  padding: 10px;
  border: 1px solid #C0C7CD;
  box-shadow: 0px 0px 4px 0px rgba( 20, 22, 25, 0.3 );
  margin-bottom: 10px;
  border-radius: 3px;
  background: #ffffff;
}
.history-item-single {
  float: left;
  margin-left: 10px;
  width: 202px;
  border-radius: 3px;
  text-align: center;
  padding: 10px 0;
  color: #fff;
  font-weight: 100;
  text-transform: uppercase;
  font-size: 12px;
}
.history-item-single .bottom {
  font-size: 19px;
  margin-top: 5px;
  text-transform: uppercase;
}
.history-item-single.first {
  text-transform: none;
  background-image: url("../img/dollar-icon-2.png");
  background-position: left 15px center;
  background-repeat: no-repeat;
  padding-left: 30px;
  margin-left: 0;
}
.history-item-single.first .bottom.up {
  text-align: left;
  padding-left: 50px;
  background: url("../img/arrow-up.png");
  background-repeat: no-repeat;
  background-position: left 25px bottom 1px;
  color: #96CB0E;

}
.history-item-single.first .bottom.down {
  text-align: left;
  padding-left: 50px;
  background: url("../img/arrow-down.png");
  background-repeat: no-repeat;
  background-position: left 28px bottom -1px;
  color: #00ABEA;
}
.pagination {
  margin-top: 65px;
  text-align: center;
}
.pagination-btn {
  border: 1px solid #C0C7CD;
  box-shadow: 0px 0px 4px 0px rgba( 20, 22, 25, 0.3 );
  background-color: #ffffff;
  color: #000;
  text-decoration: none;
  text-align: center;
  width: 40px;
  display: inline-block;
  padding: 12px 0;
  margin-left: 10px;
  font-size: 14px;
  font-weight: bold;
  vertical-align: middle;
}
.back-btn, .next-btn {
  font-size: 26px;
  padding: 6px 0;
}
.back-btn {
  margin-left: 0;
}


/*contacts*/
.contacts-page {
  background: url("../img/contacts-bg.jpg");
  background-position: bottom;
}
.contacts {
  padding: 60px 0 50px 0;
  background: #EFF0F1;
}
.contacts-social {
  display: table;
  width: 100%;
  text-align: center;
}
.contacts-social-btn {
  display: table-cell;
  width: 33%;
}
.contacts-social-btn-icon {
  width: 70px;
  margin: 0 auto;
  background: #fff;
  padding: 16px 0;
  border: 3px solid #C0C7CD;
  border-radius: 3px;
  box-shadow: 0px 0px 10px 0px rgba( 0, 0,0, 0.2 );
  color: #a0a6bb;
  font-size: 33px;
  margin-bottom: 45px;
}
.contacts-social-btn a {
  color: #1e2437;
  font-weight: 100;
}
.maps-block {
  background: url("../img/contacts-middle-bg.jpg");
  padding: 65px 0 148px 0;
}
.marker {
  background: url("../img/marker-maps.png");
  background-repeat: no-repeat;
  background-position: top;
  width: 72px;
  height: 200px;
  position: relative;
  margin: 0 auto;
}
.contact-information {
  color: #ffffff;
  font-size: 12px;
  font-weight: 100;
  padding: 25px 40px;
  width: 370px;
  background: rgba(0,0,0,0.2);
  border: 1px solid #676D7A;
  border-radius: 3px;
  box-shadow: 0px 0px 10px 0px rgba( 0, 0,0, 0.2 );
  position: absolute;
  bottom: -45px;
  right: -465px;
}
.contact-information:before {
  content: '';

}
.contact-information .address-desc {
  margin-right: 0;
  width: 150px;
}
.contact-information .address-desc, .contact-information .address-header {
  margin-top: 0;
}
.form-block {
  padding: 100px 0;
}
.form-wrapper .white-form {
  width: 1100px;
  margin: 0 auto;
}

.white-form {
  padding: 60px 0;
  background: #ffffff;
  border: 1px solid #C0C7CD;
  border-radius: 3px;
  box-shadow: 0px 0px 15px rgba( 20, 22, 25, 0.3 );
  text-align: center;
}
.white-form input, .white-form textarea {
  border: 2px solid #DDDEE7;
}

.white-form h3 {
  color: #373740;
  font-size: 27px;
  font-weight: bold;
  margin-bottom: 70px;
}
.top-field {
  margin-bottom: 30px;
}
.top-field-name {
  margin-right: 60px;
  width: 321px;
}
.top-field-email {
  width: 321px;
}
.bottom-field {
  margin-bottom: 50px;
}
.bottom-field-textarea {
  width: 740px;
}
.white-form .btn {
  padding: 15px 40px;
  box-shadow: -1px -1px 0px 0px rgb( 20, 22, 25 );
  border: none;
}

/*lk*/
.lk {
  padding: 60px 0 100px 0;
  background: #EFF0F1;
}
.lk .white-form {
  padding: 55px 75px 100px 75px;
}
.right-block .white-form{
  margin-left: 50px;
}
.left-block .white-form{
  margin-right: 50px;
}
.lk .white-form h3 {
  color: #373740;
  font-size: 19px;
  font-weight: bold;
  margin-bottom: 50px;
}
.white-form-field .text-field {
  width: 315px;
  margin-bottom: 20px;
}
.white-form-field-label {
  text-align: left;
  display: block;
  margin-bottom: 10px;
}
.white-form-btn {
  margin-top: 40px;
}

/*deposite*/

.deposite {
  padding: 60px 0 100px 0;
  background: #EFF0F1;
}
.deposite .white-form {
  padding: 55px 75px 100px 75px;
}
.your-deposite-header {
  font-size: 33px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 60px;
}
.your-deposite .history-item {
  display: table;
  width: 100%;
  padding: 10px 0;
}
.your-deposite .history-item-single {
  display: table-cell;
  width: 172px;
  min-height: 75px;
  padding: 15px 0 25px 0;
}
.your-deposite .top {
  line-height: 18px;
}
.your-deposite .bottom {
  margin-top: 15px;
}
.first-deposite .bottom {
  font-size: 45px;
  margin-top: 5px;
  text-shadow: -1px -1px 0px rgba(0,0,0,0.9);
}
.your-deposite .history-item-single.deposite-persent {
  padding-bottom: 5px;
}
.deposite-persent .bottom {
  margin-top: 10px;
  padding: 0 10px;
}
.your-deposite .inverse {
  color: #1e2437;
  border: 1px solid #C0C7CD;
  width: 170px;
  min-height: 73px;
  font-size: 12px;
}
.your-deposite .inverse .bottom {
  font-size: 14px;
  margin-top: 20px;
}

/*reg*/
.reg {
  padding: 60px 0 100px 0;
  background: #EFF0F1;
}
.reg h3 {
  font-size: 21px;
  margin-bottom: 50px;
}
.none-decorate {
  color: #1e2437;
  font-size: 45px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 90px;
}
.white-substribe {
  padding: 60px 0;
  background: #ffffff;
  border: 1px solid #C0C7CD;
  border-radius: 3px;
  box-shadow: 0px 0px 15px rgba( 20, 22, 25, 0.3 );
  text-align: center;
}
.left-block .white-substribe {
  margin-right: 50px;
}
.fb-logo {
  width: 496px;
  height: 180px;
  padding-top: 79px;
}
.fb-logo a {
  background: url("../img/facebook-logo.png");
  display: inline-block;
  width: 250px;
  height: 90px;
}
.reg .white-form {
  padding: 60px 70px;
}
.reg .white-form p {
  margin-bottom: 20px;
}
.reg .white-form label {
  display: block;
  text-align: left;
  margin-bottom: 15px;
  padding-left: 5px;
}
.commission {
  font-size: 55px;
  font-weight: bold;
  margin-bottom: 50px;
}
.payment-block {
  display: table;
  width: 90%;
  text-align: center;
  margin: 0 auto;
}
.payment-block-item {
  display: table-cell;
  width: 33%;
}
.active .payment-icon  {
  background-color: #edeef2;
  border: 3px solid #7CB90B;
}
.payment-icon {
  width: 135px;
  margin: 0 auto;
  background-image: url("../img/payment-sprite.png");
  background-repeat: no-repeat;
  height: 50px;
  padding: 17px 0;
  border: 3px solid #C0C7CD;
  border-radius: 3px;
  box-shadow: 0px 0px 10px 0px rgba( 0, 0,0, 0.3 );
  margin-bottom: 30px;
}

.payment-icon-pf {
  background-position: 10px 25px;
}
.payment-icon-qiwi {
  background-position: -132px 25px;
}
.payment-icon-payment {
  background-position: -284px 25px;
}
.payment-icon-okpay {
  background-position: -284px -99px;
}
.payment-icon-yandex {
  background-position: -133px -99px;
}
.payment-icon-bitcoin {
  background-position: 10px -99px;
}
.payment-icon-nix {
  background-position: 10px -227px;
}
.payment-icon-advcash {
  background-position: -135px -227px;
}
.payment-icon-payza {
  background-position: -281px -227px;
}


/*finance*/
.finance-left-block {
  margin-right: 10px;
}
.finance-right-block {
  margin-left: 10px;
}
.white-info-block {
  padding: 25px 15px;
  background: #ffffff;
  border-radius: 3px;
  box-shadow: 0px 0px 5px rgba( 0, 0, 0, 0.4 );
  text-align: center;
  text-transform: uppercase;

  font-size: 12px;
  margin-bottom: 15px;
}

.white-info-block-money {
  font-size: 33px;
}
.finance-btn {
  margin-top: 70px;
}
.finance-btn .btn {
  width: 300px;
}
.payment-finance-block {
  margin-bottom: 45px;

}

.payment-finance-block-item {
  width: 239px;
  padding: 10px;
  float: left;
  text-align: center;
  border: 1px solid #fff;
  border-radius: 3px;
  box-shadow: 0px 0px 5px rgba( 0, 0, 0, 0.4 );
}

.payment-finance-block-item:first-child {
  margin-right: 20px;
}

.payment-finance-block-item-icon {
  width: 155px;
  height: 40px;
  background: url("../img/payment-sprite-light.png");
  background-repeat: no-repeat;
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 20px;
}
.item-pf {
  background-position: 0 0;
}
.item-payeer {
  background-position: -277px 0;
}
.item-bitcoin {
  background-position: -551px 0;
}
.item-nix {
  background-position: -828px 0;
}
.payment-finance-block-btn .btn {
  font-size: 33px;
  padding: 15px 48px;
  box-shadow: -1px -1px 0px 0px rgb( 20, 22, 25 );
  margin-bottom: 10px;
}

.deposite-bottom {
  float: left;
  width: 104px;
  border: 1px solid #fff;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: bold;
  box-shadow: 0px 0px 4px rgba( 20, 22, 25, 0.5 );
  font-size: 21px;
  padding: 15px 4px;
}
.deposite-bottom:first-child {
  margin-right: 10px;
}
.deposite-left-head {
  font-size: 11px;
  margin-bottom: 25px;
}
.finance-btn .btn{
  font-size: 18px;
  box-shadow: -1px -1px 0px 0px rgb( 20, 22, 25 );
}



/*about-us*/

.about-us {
  padding: 60px 0 100px 0;
  background: #EFF0F1;
}
.about-us-top {

  margin-bottom: 90px;
}
.about-us-top .white-substribe {
  width: 293px;
  float: left;
  padding: 15px 30px;
  margin-left: 20px;
  min-height: 310px;
}
.about-us-top .white-substribe:first-child {
  margin-left: 0;
}
.white-substribe-about-us {
  text-align-last: left;
  padding: 20px
}

.white-substribe .logo-middle {
  background: url("../img/logo-middle.png");
  width: 370px;
  height: 100px;
  margin-bottom: 45px;
  background-repeat: no-repeat;
  background-position: bottom left 10px;
}
.official-company {
  text-align: left;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  margin-left: 10px;
  color: #1e2437;
  line-height: 30px;
}
.full-image {
  width: 105%;
  left: -14px;
  top: -10px;
  position: relative;
}
.advantages-block {
  background: url("../img/about-us-middle.jpg");
  padding: 100px 0 120px 0;
  color: #eff0f1;
  text-align: center;
}
.advantage-slide {
  width: 885px;
  margin: 0 auto;
  padding: 60px 50px;
  position: relative;
  margin-top: 80px;
}
.advantage-slide-icon {
  background: url("../img/adv-guard.png");
  height: 375px;
  width: 375px;
  float: left;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 20px;
}
.advantage-slide-content {
  float: left;
  width: 475px;
  text-align: left;
}
.advantage-slide-content h3 {
  font-size: 27px;
  color: rgb( 126, 207, 65 );
  font-weight: bold;
  text-transform: uppercase;
}
.advantage-slide-content p {
  margin-bottom: 30px;
}
.advantage-slide-btn-left {
  font-size: 55px;
  color: #b2bbc4;
  position: absolute;
  top: 50%;
  left: -60px;
}
.advantage-slide-btn-right {
  font-size: 55px;
  color: #b2bbc4;
  position: absolute;
  top: 50%;
  right: -60px;
}